.jr-container{

}
.jr-content{
  display: flex;
  flex-flow: column;
  height: 100%;
  background-color: white;
}
.jr-tabs{

  display: flex;
  flex-flow: column;
  height: 100%;
}
.jr-tab{
  width: 100%;
}
