body,html,#app{
    width: 100%;
    height: 100%;
    overflow: auto;
    margin: 0;
    box-sizing: border-box;
}

ul,ol,li{
    list-style: none;
    margin: 0;
    padding: 0;
}
h1,p{
    margin: 0;
    padding: 0;
}
img{
    vertical-align: middle;
}
.box-style{
    box-sizing: border-box;
    width: 100%;
    padding: 1px 1px 10px;
    position: relative;
}
.box-style>i{
    position: absolute;
    width: 8px;
    height: 8px;
}
.box-style .box-style-top-left{
    background: url('../../assets/indexImg/left-top.png') no-repeat top left;
    left: 0;
    top: 0
}
.box-style .box-style-top-right{
    background: url('../../assets/indexImg/right-top.png') no-repeat top left;
    right: 0;
    top: 0
}
.box-style .box-style-bottom-left{
    background: url('../../assets/indexImg/left-bottom.png') no-repeat top left;
    left: 0;
    bottom: 10px;
}
.box-style .box-style-bottom-right{
    background: url('../../assets/indexImg/right-bottom.png') no-repeat top left;
    right: 0;
    bottom: 10px;
}
.box-style>div{
    width:100%;
    box-shadow: inset 0 0 15px 0 #44D2FF;
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
}
h4{
    padding-left: 26px;
    font-size: 18px;
    color: #fff;
    position: relative;
    margin: 0;
    text-align: left;
    margin-bottom:10px;
    font-weight:400;
}
h4::before{
    background: url('../../assets/indexImg/title_icon.png') no-repeat top left;
    position: absolute;
    content: '';
    left: 0;
    width: 22px;
    height: 22px;
    top: 1px;
}
button{
    background: rgba(68,210,255,0.2);
    border-radius: 1px;
    padding: 3px 9px;
    font-size: 14px;
    color: #fff;
    border: 0 none;
    outline: 0 none;
}
.proj-box{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0 10px ;
    color: #fff;
    font-size: 14px;
    padding-top: 36px;
    position: relative;
}
.tabs-box{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
}
.tabs{
    width: 100%;
    height: 36px;
    border: 1px solid #44D2FF ;
    box-sizing: border-box;
    padding: 0 10px;
    text-align: center;
}
.tabs>span{
    width: 78px;
    float: left;
    height: 26px;
    line-height: 26px;
    margin-top: 4px;
    cursor: pointer;
    text-align: center;
    margin-bottom: 10px;
    font-size: 14px;
}
.tabs>.active,.news-tabs>.active{
    background: url(../../assets/indexImg/select.png) no-repeat  top center;
}
.required{
    color: red;
  }
.clear::after{
    content:"";
    height:0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}
.clear::after{
    zoom: 1
}
.bg .el-table th,.bg .el-table tr{
    background: transparent;
}
.bg .el-table--enable-row-transition .el-table__body td{
    background: transparent;
}
.bg .el-table--fit{
    background: transparent;
}
.bg .el-table td,.bg .el-table th.is-leaf{
    border-color: rgba(68,210,255,1);
}
.bg .el-table--border,.bg  .el-table--group{
    border-color: rgba(68,210,255,1);
}
.bg .el-table--border::after,.bg .el-table--group::after ,.bg .el-table::before{
    background: rgba(68,210,255,1);
}
.bg .el-table--enable-row-hover .el-table__body tr:hover>td{
    background: transparent ;
}
/* 高亮显示 最外层加类名 highlight-current-row */
.bg .highlight-current-row.el-table--enable-row-hover .el-table__body tr:hover>td{
    background: rgba(32,165,255,.5) ;
}
.bg .highlight-current-row.el-table .el-table__body .el-table__row.current-row>td{
    background: rgba(32,165,255,.5) ;
}
.bg .el-table__fixed-right:before,.bg .el-table__fixed:before{
    background: transparent ;
}
.bg  .el-table__body  tr.current-row>td{
    background-color: rgba(32,165,255,0.5);
}
/* add-part-box */
.bg .el-table,.bg .el-table thead{
    color: #fff;
}
.bg .el-input__inner{
    background: transparent;
    border: 0 none;
    height: 32px;
    color: #fff;
    font-size: 14px;
    width: 100%;
    height: 100%;
    padding:0;
}
.bg .add-part .el-input__inner{
    color: #333;
}
.bg .add-page .el-input__inner{
    background: #fff;
    color: #333;
}
.bg .c3 .el-input__inner{
    color: #333;
}
.el-select .el-input .el-select__caret.el-input__icon{
    color: #fff;
    line-height:25px;
}
.el-input--suffix .el-input__inner{
    background-color: transparent;
    border-radius: 0;
    border:none;
  }
  .el-input--prefix.el-input--mini .el-input__inner
{
    padding-left: 10px;
    height: 24px;
    line-height: 24px;
    border:0 none;
    background-color: transparent;
}
.select-box .select-ele{
    width: 100px;
    background: rgba(255, 255, 255, 0.2);
}
.select-box .select-ele input{
    padding-left: 5px;
}
.no-img{
    background: url(../../assets/indexImg/nonePic.png) no-repeat center ;
    display: inline-block;
    background: #e7e7e7 ;
    position: relative;
        /* background:  */
}
.no-img::after{
    background: url(../../assets/indexImg/nonePic.png) no-repeat center ;
    width: 47px;
    height: 47px;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
}
.search-box{
    position: relative;
}
.search-box input{
    float: left;
    width: 150px;
    height: 26px;
    background: transparent;
    color: #fff;
    border: 1px solid #44D2FF;
    padding-left: 26px;
    box-sizing: border-box;
}
.search-box i{
    position: absolute;
    left: 0;
    top: 0;
    width: 26px;
    height: 26px;
    background: url('../../assets/indexImg/search.png') no-repeat center;
}
.search-box button{
    float: left;
}
.bg .add-part-box{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        color: #333;
        background: rgba(0, 0, 0, 0.5);
        z-index: 80;
    }
    .bg .add-part{
    width: 406px;
    position: fixed;
    top: 50%;
    left: 50%;
    color: #333;
    background: #fff;
    transform: translate(-50%,-50%);
    padding: 10px 20px;
    z-index: 81;
}
    .add-part p{
        font-size: 18px;
        color: #333;
        text-align: left
    }
    .select-msg-box{
        color: #333;
        line-height: 38px;
        height: 38px;
        margin: 20px 0;
    }
    .bg .select-msg-ele{
        padding-left: 10px;
        overflow: hidden;
    }
    .bg .select-msg-ele .el-input__inner{
        width: 296px;
        line-height: 38px;
        height: 38px;
        color: #333;
        width: 100%;
        overflow: hidden;
        border: 0 none;
        border-radius: 1px ;
        box-sizing: border-box;
    }
    .add-part button{
        font-size: 14px;
        background: #5C9AD4;min-width: 60px;
        padding: 3px 5px;
        height: 28px;

    }
    .add-part-box span{
      width: 80px;
      display: inline-block;
      float: left;
    }
    .bg .el-progress__text{
        font-size: 18px!important;
        color: #fff;
    }
    .bg .el-progress-circle__track{
        stroke: #44D2FF;
        stroke-width: 2;
    }
    .bg .el-progress-circle__path{
        stroke-width: 10;
    }
    .bg .el-table td,.bg .el-table th{
        padding:3px 0;
      }
input[type=number] {
    -moz-appearance:textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.add-page .el-textarea__inner{
    font-family: 'microsoft yahei'
}
.add-page .el-textarea__inner:focus,.add-page .el-textarea__inner:hover{
    border:0 none;
    outline: 0 none;
}
/*input*/
.item_content{
  line-height: 36px;
  border:1px solid #d4d4d4;
}
.item_content .el-input__inner{
  padding-left:10px;
  height:36px;
  background-color: #fff;
  color:#333;
  font-size: 14px;
}

/*时间，select*/
.item_date{
  line-height: 36px;
  border:1px solid #d4d4d4;
  width:100%;
}
.item_date .el-input__icon{
  line-height: 36px;
  color:#d4d4d4 !important;
}
.item_date .el-input__inner{
  padding-left:10px;
  height:36px;
  background-color: #fff;
  color:#333;
  font-size: 14px;
}

.item_button{
  padding:6px 16px;
  border-radius: 0;
}
.bg .el-progress-bar{
    margin: 0;
}
.bg .el-progress-bar .el-progress-bar__outer{
    border-radius: 0 ;
    background: rgba(68,210,255,0.30);
    border: 1px solid rgba(68,210,255,0.30);
    overflow: visible;
    width: 100%;
}

.bg .el-progress-bar__innerText{
    display: none;
}
.bg .el-tree-node:focus>.el-tree-node__content{
    background: transparent;
}